{% extends "layout.html" %}

{% block title %}Редактировать контакт{% endblock %}

{% block content %}

{% set form_data = form_data or {} %}


<div class="container py-4 card-content">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-lg-12">
            <div class="card border border-dark bg-white shadow-sm">
                <div class="card-header text-center bg-white border-bottom border-dark">

                    <h2 class="mb-0 text-dark">Редактировать контакт</h2>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('contacts_patch', id=contact.id) }}" method="post">
                        <div class="row mb-3">
                            <dt class="col-5 text-dark">Имя<span class="text-danger">*</span></dt>
                            <dd class="col-7">
                                <input type="text" id="first_name" class="form-control{% if errors.first_name %} is-invalid{% endif %}" name="first_name" value="{{ form_data.get('first_name') or contact.first_name or '' }}">
                                {% if errors.first_name %}
                                <div class=" invalid-feedback">{{ errors.first_name }}
                                </div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3">
                            <dt class="col-5 text-dark">Фамилия</dt>
                            <dd class="col-7">
                                <input type="text" id="last_name" class="form-control{% if errors.last_name %} is-invalid{% endif %}" name="last_name" value="{{ form_data.get('last_name') or contact.last_name or '' }}">
                                {% if errors.last_name %}
                                <div class="invalid-feedback">{{ errors.last_name }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3">
                            <dt class="col-5 text-dark">Телефон</dt>
                            <dd class="col-7">
                                <input type="tel" id="phone" class="form-control{% if errors.phone %} is-invalid{% endif %}" name="phone" value="{{ form_data.get('phone') or contact.phone or '' }}">
                                {% if errors.phone %}
                                <div class="invalid-feedback">{{ errors.phone }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3">
                            <dt class="col-5 text-dark">Эл. почта</dt>
                            <dd class="col-7">
                                <input type="email" id="email" class="form-control{% if errors.email %} is-invalid{% endif %}" name="email" value="{{ form_data.get('email') or contact.email or '' }}">
                                {% if errors.email %}
                                <div class="invalid-feedback">{{ errors.email }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3" id="gender">
                            <dt class="col-5 text-dark">Пол</dt>
                            <dd class="col-7">
                                {% set gender_name = contact.gender.name if contact.gender else 'other' %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_male" value="male" {% if gender_name == 'male' %}checked{% endif %}>
                                    <label class="form-check-label" for="gender_male">Мужской</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_female" value="female" {% if gender_name == 'female' %}checked{% endif %}>
                                    <label class="form-check-label" for="gender_female">Женский</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_other" value="other" {% if gender_name == 'other' %}checked{% endif %}>
                                    <label class="form-check-label" for="gender_other">...</label>
                                </div>
                                {% if errors.gender %}
                                <div class="invalid-feedback">{{ errors.gender }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3" id="date_of_birth">
                            <dt class="col-5 text-dark">Дата рождения</dt>
                            <dd class="col-7">
                                {% set date_of_birth = contact.date_of_birth.isoformat() if contact.date_of_birth else '' %}
                                <input type="date" name="date_of_birth" class="form-control" value="{{ date_of_birth }}">
                                {% if errors.date_of_birth %}
                                <div class="invalid-feedback">{{ errors.date_of_birth }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3" id="priority">
                            <dt class="col-5 text-dark">Приоритет</dt>
                            <dd class="col-7">
                                {% set priority_name = contact.priority.name if contact.priority else 'regular' %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" id="priority_regular" value="regular" {% if priority_name == 'regular' %}checked{% endif %}>
                                    <label class="form-check-label" for="priority_regular">Обычный</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" id="priority_high" value="high" {% if priority_name == 'high' %}checked{% endif %}>
                                    <label class="form-check-label" for="priority_high">Особой важности</label>
                                </div>
                                {% if errors.priority %}
                                <div class="invalid-feedback">{{ errors.priority }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3" id="category">
                            <dt class="col-5 text-dark">Категория</dt>
                            <dd class="col-7">
                                {% set category_name = contact.category.name if contact.category else 'not_selected' %}
                                <select name="category" class="form-select">
                                    <option value="not_selected" {% if category_name == 'not_selected' %}selected{% endif %}>
                                        Не выбрана
                                    </option>
                                    <option value="friends" {% if category_name == 'friends' %}selected{% endif %}>
                                        Друзья
                                    </option>
                                    <option value="family" {% if category_name == 'family' %}selected{% endif %}>
                                        Семья
                                    </option>
                                    <option value="work" {% if category_name == 'work' %}selected{% endif %}>
                                        Работа
                                    </option>
                                    <option value="clients" {% if category_name == 'clients' %}selected{% endif %}>
                                        Клиенты
                                    </option>
                                </select>
                                {% if errors.category %}
                                <div class="invalid-feedback">{{ errors.category }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3" id="channels">
                            <dt class="col-5 text-dark">Каналы связи</dt>
                            <dd class="col-7">
                                {% set channel_names = contact.channels | map(attribute='name') | list if contact.channels else [] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="channels" id="can_call" value="can_call" {% if "can_call" in channel_names %}checked{% endif %}>
                                    <label class="form-check-label" for="can_call">Можно звонить</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="channels" id="can_message" value="can_message" {% if 'can_message' in channel_names %}checked{% endif %}>
                                    <label class="form-check-label" for="can_message">Можно писать сообщения</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="channels" id="email_preferred" value="email_preferred" {% if 'email_preferred' in channel_names %}checked{% endif %}>
                                    <label class="form-check-label" for="email_preferred">Предпочтительно по эл. почте</label>
                                </div>
                                {% if errors.channels %}
                                <div class="text-danger small mt-1">{{ errors.channels }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="row mb-3">
                            <dt class="col-5 text-dark">Адрес</dt>
                            <dd class="col-7">
                                <textarea name="current_address" id="current_address" class="form-control">{{ contact.current_address|default('', true) }}</textarea>
                                {% if errors.current_address %}
                                <div class="invalid-feedback">{{ errors.current_address }}</div>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" class="btn bg-white text-dark border border-dark">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
